/* ****************************************************FOOTER STARTS HERE*********************************** * */
footer {
    min-height: 40vh;
    width: 100%;
    background-color: black;
    border-top: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.2rem;
    padding-bottom: 2.5rem;
    position: relative;
    z-index: 5;
  }
  .footerQuote {
    font-size: 4.6rem;
    font-family: "Fredoka", sans-serif;
    color: whitesmoke;
    font-weight: 500;
  }
  @media screen and (max-width: 400px) {
    .footerQuote {
      font-size: 4rem;
    }
  }
  /* .footerContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 60%;
    padding-top: 2.5rem;
  } */
  
  .socialsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 8rem;
    width: 90%;
    height: 25%;
    margin-bottom: 75px;
    margin-top: 50px;
  }
  .socialRow2align {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    gap: 8rem;
  }
  .socialsBigDiv {
    --fullWidth: 200px;
    --fullHeight: 37px;
    height: var(--fullHeight);
    width: var(--fullWidth);
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    margin-top: 25px;
  }
  .socialsCompleteBtn {
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .chibiDog {
    z-index: 0;
    transition: all 0.1s ease-out;
  }
  
  .socialsCompleteBtn:hover > .chibiDog {
    transform: translateY(-47px) scale(1.2);
    transition: all 0.1s ease-out;
    z-index: 4;
    width: 90px;
    background-image: url("../Images/cat2.gif");
    /* background-position-y: bottom; */
    background-size: cover;
    position: absolute;
    height: 60px;
  }
  
  .socialLogo {
    height: calc(var(--fullHeight) + 5px);
    width: calc(var(--fullHeight) + 5px);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
  }
  
  .socialName {
    font-size: 16.7px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: absolute;
    width: var(--fullWidth);
    /* height: 100%; */
    text-align: center;
    z-index: 1;
  }
  .socialId {
    width: 0px;
    height: 0px;
    border-radius: 50px;
    position: absolute;
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-left: 20px;
    overflow: hidden;
  }
  
  .socialsBigDiv {
    transition: all 0.5s ease;
  }
  .socialsBigDiv:hover > .socialId {
    width: calc(var(--fullWidth) + 5px);
    height: var(--fullHeight);
  }
  
  .socialsBigDiv > .socialId {
    transition: all 0.5s ease;
  }
  
  .socialsBigDiv:hover > .socialLogo {
    scale: 1.2;
    rotate: 360deg;
    transition: all 0.5s ease;
    border: 1px solid #011e2d;
  }
  #linkedinLogo {
    background-image: url("../Images/linkedIn.png");
    background-size: 70%;
    background-color: #0274b3;
    border: 2px solid #011926;
  }
  #linkedinName {
    color: #0274b3;
  }
  #linkedinId {
    background-color: #0274b3;
    color: #fff;
  }
  #githubLogo {
    background-image: url("../Images/github.png");
    background-size: 138%;
    border: 2px solid #000;
  }
  #githubName {
    color: #1f1f1f;
  }
  #githubId {
    background-color: #1f1f1f;
    color: #fff;
    padding-left: 35px;
  }
  #whatsappLogo {
    background-image: url("../Images/WhatsApp.svg.webp");
    background-size: 75%;
    background-color: #2ab73f;
    border: 2px solid #086516;
  }
  #whatsappName {
    color: #2ab73f;
  }
  #whatsappId {
    background-color: #2ab73f;
    color: #fff;
  }
  #mailLogo {
    background-image: url("../Images/mail.png");
    background-size: 101%;
    background-color: #fff;
    border: 2px solid rgb(120, 6, 6);
  }
  #mailName {
    color: red;
  }
  #mailId {
    background-color: red;
    color: #fff;
    font-size: 11px;
    padding-left: 34px;
  }
  #callLogo {
    background-image: url("../Images/call.png");
    background-size: 165%;
    background-color: #fdd14c;
    border: 2px solid #a77f05;
  }
  #callName {
    color: #1a4043;
  }
  #callId {
    background-color: #fdd14c;
    color: #1a4043;
    /* text-decoration: 2px solid #1a4043; */
    font-weight: 600;
    /* padding-left: 30px; */
  }
  .copyright {
    font-size: 1.4rem;
    letter-spacing: 2px;
    word-spacing: 3px;

  }
  @media screen and (max-width: 370px) {
    .copyright {
      font-size: 1.3rem;
      letter-spacing: 1.4px;
    }
  }
    
  